* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100%;
}

body {
    display: grid;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    gap: 12px;
    background-color: lightslategrey;
}

header {
    background-color: darkgray;
    border: 4px solid darkslategray;
    border-radius: 4px;
    color: darkblue;
    padding: 1rem;
    text-align: center;
}

.large, .max {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    background-color: dimgray;
    padding: 4px;
    display: inline-block;
}

#gold {
    background-color: limegreen;
    color: darkblue;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
}

article {
    background: #f0e68c;
    padding: 20px;
    border-radius: 8px;
}

section {
    background-color: lightyellow;
    box-sizing: border-box;
    border-radius: 12px;
    font-family: cursive;
    color: dimgray;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color: darkslategray;
}

div.box {
    display: flex;
    flex-direction: column;
    border: 10px solid wheat;
    background-color: beige;
    padding: 10px;
}

.yellow {
    color: seagreen;
    box-sizing: border-box;
    box-shadow: #f0e68c 2px 4px 6px;
}

.green {
    color: green;
}

aside {
    display: flex;
    flex-direction: column;
    background: gainsboro;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.blue {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-weight: 600;
}

footer {
    border: 2px solid darkslategray;
    background-color: mistyrose;
    padding: 10px;
}

.brown {
    color: saddlebrown;
}