body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    text-align: center;
    min-height: 100vh;
    text-align: center;
}
header {
    background: #333;
    color:ghostwhite
}
.container {
    background-color:dimgrey;
    color: white;
    padding: 10px;
    margin: 10px;
}
section {
    background-color: lightgoldenrodyellow;
    color: black;
    padding: 10px;
    margin: 10px;
}
footer{
    background: #222;
    color:#ccc;
    text-align: center;
    padding:10px;
}