* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100vh;
    width:100;
}
body {
    display: grid;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    gap: 12px;
    background: fixed;
    background-color: lightslategrey;
}
header {
    background: fixed;
    background-color: ghostwhite;
    border: 4px solid darkslategray;
    border-radius: 10px;
    color: verydarkblue;
    padding: 1rem;

}
#gold {
    background-color: lightgoldenrodyellow;
    color: darkblue;
    display: grid;
    grid-template-columns: 3fr 1fr;
    flex: 1;
    gap: 20px;
    padding: 20px;
}
article {
    background: #f0e68c;
    padding: 20px;
    border-radius: 8px;
}
section {
background-color: lightyellow;
box-sizing: border-box;
border-radius: 12px;
font-family: cursive;
color: dimgray;
}
h2 {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bolder;
color: darkslategray;
}
div.box {
    flex-direction: column;
    border: 10px wheat;
    background-color: beige;
}
.yellow {
 color: seagreen;
 box-sizing: border-box;
 box-shadow: #f0e68c 2px 4px 6px;
}
.green {
    color: green;
}
aside{
    background: gainsboro;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.blue {
color: black;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: medium;
font-weight: 600;
}
footer {
border: 2px solid darkslategray;
background-color: mistyrose;
}
.brown {
color: saddlebrown;
}