#top {
     text-align: center;
     min-height: 100vh;
     font-family: Arial, Helvetica, sans-serif;
     background-color: #dcdcdc;
}
.lar{
   font-size: 2em;
   font-weight: 700;
   margin: 1em auto;
   color: #000;
}
.ge{
   font-size: 1em;
   font-weight: 400;
   margin: 0.5em auto;
   color: #222222;
}
.blue{
    color: #0000ff;
    font-family: cursive;
    font-weight: 500;
    font-size: 1.3em;
    margin: 1em auto;
}
/*Header Done */


.gold {
    background: #f5f5f5;
    color: #dcdcdc;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 15px 5px;
}
article {
    background: #f5f5f5;
    color: #a52a2a;
    padding: 15px 5px;
    border-radius: 8px;
}
h2{
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    border-radius: 8px;
    margin: 1.4em auto;
    text-decoration: underline;
    text-transform: capitalize;
}
.bab {
    background-color: #dcdcdc;
    font-family: cursive;
    font-weight: 600;
    border-radius: 10px;
}
span {
    color: #222222;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-transform: capitalize;
}


/*Main and article done*/


.pic {
    width: 100%;
    border-radius: 14px;
    color: #000;
    font-family: cursive;
    font-weight: 500;
    background-color: #ffdab9;
}
.cute {
    font-weight: 600;
    color: #a52a2a;
    text-transform: capitalize;
    text-decoration: underline;   
}
aside {
    background-color: #a9a9a9;
    padding: 10px;
    border-radius: 14px;
    color: #000;
}
.lowk, .pink {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    color: #000;
}

footer {
    background-color: #f5f5f5;
    color: #000;
    text-align: center;
    padding: 10px;
}
.brown {
    font-family: cursive;
    color: brown;
}
/*All Done*/

